<%- include("../partials/head.ejs", {
  title: "Log In",
  stylesheet: "account"
}) %>

<main>
  <h1>Log In</h1>
  <%- include("../partials/nav.ejs") %>

  <div class="account-form">
    <form action="/login/apply" method="POST">
      <div class="form-group">
        <label for="usernameTx">Username:</label>
        <input type="text" name="username" id="usernameTx">
      </div>
      <div class="form-group">
        <label for="passwordTx">Password:</label>
        <input type="password" name="password" id="passwordTx">
      </div>
      <div class="form-group">
        <button type="submit">Log In</button>
      </div>
    </form>
    
    <div class="form-footer">
      Don't have an account? <br>
      <a href="/signup">Sign Up</a> instead
    </div>
  </div>
</main>

<%- include("../partials/foot.ejs") %>