<%- include("../partials/head.ejs", {
  title: "Log In",
  stylesheet: "account"
}) %>

<div class="container-fluid">
  <div class="row">
    <%- include("../partials/nav.ejs") %> 
  </div>

  <main class="row text-center account-form form-login">
    <form class="mb-5" action="/login/apply" method="POST">
      <h1 class="h3 mb-3 fw-normal">Log In</h1>

      <div class="form-floating">
        <input type="text" class="form-control" name="username" id="usernameTx" placeholder="Username">
        <label for="usernameTx">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" name="password" id="passwordTx" placeholder="Password">
        <label for="passwordTx">Password</label>
      </div>
      
      <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
    </form>
    
    <p class="text-muted">
      Don't have an account? <br>
      <a href="/signup">Sign Up</a> instead
    </p>
  </main>
</div>

<%- include("../partials/foot.ejs") %>