:root {
    font-size: 16px;
}

body {
    font-family: Inter, "Open Sans", sans-serif;
    background-color: #f1f1f1;
}

h1, h2, h3, h4, h5 {
    font-family: "Merriweather", "PT Serif", Cambria, serif;
    font-weight: bold;
}

.hidden {
    display: none !important;
}

h1 {
    text-align: center;
}

.brand {
    font-family: "Stardos Stencil";
}

/* .navbar .container-fluid{
    margin-bottom: .5rem;
} */

/* .navbar-brand {
    background: no-repeat top left/3rem url(/res/wp-brand.png);
} */

/* .navbar-brand .brand {
    padding-left: 3.25rem;
    font-weight: normal;
} */