<%- include("../partials/head.ejs", {
  title: "Send a Post",
  stylesheet: "post"
}) %>

<main class="container-fluid">
  <div class="row mb-5">
    <%- include("../partials/nav.ejs") %>
  </div>

  <div class="row">
    <h1>Send a Post</h1>
  </div>
  
  <div class="row send-form mx-auto">
    <p class="text-muted fst-italic text-center">Write your message below.</p>
    
    <form action="/posts/send" method="POST">
      <div class="form-group mb-3">
        <label for="authorTx">Name:</label>
        <input class="form-control" type="text" name="author" id="authorTx">
      </div>

      <div class="form-group mb-3">
        <label for="messageTx">Message:</label>
        <textarea class="form-control" name="message" id="messageTx" rows="3"></textarea>
      </div>

      <button class="btn btn-primary d-block ms-auto" type="submit" id="submitBt">Send</button>
    </form>
  </div>
</main>

<%- include("../partials/foot.ejs") %>