<%- include("../partials/head.ejs", {
  title: "Send a Post",
  stylesheet: "post"
}) %>

<main class="container-fluid">
  <div class="row mb-5">
    <%- include("../partials/nav.ejs", {activePage: "new-post"}) %>
  </div>

  <div class="row">
    <h1>Send a Post</h1>
  </div>
  
  <div class="row send-form mx-auto">
    <p class="text-muted fst-italic">Write your message below.</p>
    
    <form action="/posts" method="POST">
      <textarea class="form-control mb-3" name="message" id="messageTx" rows="3"></textarea>
      <button class="btn btn-primary d-block ms-auto" type="submit" id="submitBt">Send</button>
    </form>
  </div>
</main>

<%- include("../partials/foot.ejs") %>