<%- include("../partials/head.ejs", {title: "Send a Post"}) %>

<main>
  <h1>Send a Post</h1>
  <%- include("../partials/nav.ejs") %>


  <p>Write your message below.</p>

  <div class="send-form">
    <form action="/send" method="POST">
      <div class="form-group">
        <label for="txAuthor">Name:</label>
        <input type="text" name="author" id="txAuthor">
      </div>
      <div class="form-group">
        <label for="txMessage">Message:</label>
        <textarea name="message" id="txMessage" rows="10"></textarea>
      </div>
      <div class="form-group submit">
        <button type="submit" id="btSubmit">Send</button>
      </div>
    </form>
  </div>
</main>

<%- include("../partials/foot.ejs") %>